footer {
  @include flex-column;
  align-items: center;
  padding: 115px 220px;
  margin-top: 80px;
}

.footer-list {
  display: flex;
  gap: 31px;
  list-style: none;
}

.footer-logo {
  font-family: "Homemade Apple";
  color: $main;
  margin: 0 140px;
  font-size: 18px;
}

hr {
  width: 100%;
}

.social-networks {
  margin: 55px 0 72px 0;
}

@media (max-width: 768px) {
  footer {
    padding: 0;
  }

  .footer-logo {
    display: none;
  }
} ;
